{% extends 'homepage.html' %}
{% load static %}  


{% block content %}
<section class="banner_main">
    <article>      
        <h2>О нас</h2>
        <img src="{% static 'main/images/minfin_osh.jpg' %}" alt="">
        <p>
            Казначейство города Ош имеет богатую историю, тесно связанную с развитием города и его финансовой системы. <br>
            Вот небольшая история Казначейства города Ош: <br> <br>

            Казначейство города Ош восходит к древним временам, когда Ош был важным торговым и культурным центром на шелковом пути. 
            С ростом торговли и экономического развития города, потребность в эффективной финансовой системе становилась все более актуальной. Казначейство возникло как ответ на эту потребность. <br> <br> 

            В период средневековья Ош был одним из крупнейших городов на территории современного Киргизстана и служил важным центром торговли и финансов. Казначейство города Ош было ответственно за сбор налогов, управление государственными фондами и финансовую документацию. <br> <br>

            С течением времени и в связи с изменениями в политической и экономической обстановке, Казначейство города Ош также претерпело изменения. В период Советского Союза город Ош стал частью Киргизской ССР, а функции казначейства были частично интегрированы в систему государственных финансовых органов. <br> <br>

            После получения Киргизстаном независимости в 1991 году Казначейство города Ош было реорганизовано в соответствии с новыми требованиями и нормами. Оно стало ключевым органом городской администрации, отвечающим за финансовое планирование, бюджетирование, учет и контроль городских финансов. <br> <br>

            Сегодня Казначейство города Ош является важной частью муниципальной администрации и занимается координацией финансовых операций, контролем бюджетных расходов, а также обеспечивает прозрачность и эффективность финансового управления городскими ресурсами. <br> <br>

            Казначейство города Ош играет важную роль в развитии города и обеспечении его финансовой устойчивости. С помощью сво

            их функций и полномочий оно способствует реализации различных проектов и программ, которые направлены на улучшение жизни жителей Оша и обеспечение устойчивого развития города. <br> <br>

            Таким образом, Казначейство города Ош является ключевым игроком в финансовой системе города и продолжает оставаться важным элементом его административной инфраструктуры, поддерживая финансовую устойчивость и развитие города в течение долгих лет. <br> <br>
        </p>
        <p>
            Основные функции Казначейства города Ош включают: <br><br>

            - Сбор и учет доходов: Казначейство занимается сбором всех доходов, поступающих в городскую казну, включая налоги, сборы, штрафы и другие платежи. Оно также осуществляет учет и контроль за этими доходами.<br><br>

            - Управление городскими счетами: Казначейство открывает и управляет казначейскими счетами, обрабатывает платежи и транзакции, связанные с городскими финансами.<br><br>
                    
            - Бюджетное планирование: Казначейство участвует в разработке городского бюджета, предоставляет финансовые данные и рекомендации, чтобы обеспечить эффективное распределение ресурсов и достижение финансовых целей города.<br><br>
                    
            - Финансовый контроль: Казначейство осуществляет контроль за расходованием городских средств, проверяет соответствие расходов бюджетным положениям и требованиям финансовой дисциплины.<br><br>
                    
            - Финансовая отчетность: Казначейство готовит финансовые отчеты, включая баланс, отчет о доходах и расходах, и другие отчеты, необходимые для прозрачности и отчетности в городских финансах.<br><br>
                    
            - Управление долгом: Казначейство отвечает за управление городским долгом, включая учет и погашение кредитов и обязательств.<br><br>
        </p>
    </article>
</section>

{% endblock %}